body{
 background-image:linear-gradient (130deg, silver, skyblue);
}

header {
 text-align:center;
}

header small {
 color: silver;
 margin-top: -10px;
}

.content{
  border: 1px solid silver;
  margin-top: 10px;
  height: 60vh;
  width: 80vw;
  margin: auto;
}

.content span {
  font-size: 14px;
}

input[type=text]{
 outline:none;
 
}

ol.a1 {
 list-style-type: decimal;
}

.search-field{
 border: 1px solid #000;
 border-radius: 5px;
 height: 24px;
 width: 200px; 
}

.btn{
 border: none;
 
}

.btn-save{
  width: 100px;
  height: 24px;
  border-radius: 5px;
  background-color: #30a64f;
}
