body{
 background-image:linear-gradient (130deg, silver, skyblue);
}

header {
 text-align:center;
}

header small {
 color: silver;
 margin-top: -10px;
}

.content{
  border: 1px solid silver;
  margin-top: 10px;
  height: 60vh;
}

.content span {
  font-size: 14px;
}
