<!DOCTYPE html>
<html ng-app="khayrJudoApp">
  <head>
    <title>Khayr Judo </title>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
     <link rel="stylesheet" href="css/style.css"/>
     <script src="js/script.js"></script>
  </head>
  <body>
    <div ng-controller="khayrCtrl">
      
    <header>
    <h2>Khayr Judo Class </h2>
    <small>Master the Art </small>
    </header>
      
    <div class="content">
      <span>Hello there masters</span>
      <h4>List of Squad</h4>
      <input type="text" ng-model="search" placeholder="search"/>
      <ol class="a1">
        <li ng-repeat="x in squad | filter : search">{{x}}</li>
      </ol>
    </div>
      
    </div>
  </body>
</html>
